body{
    font-family: 'Consolas';
    text-align: center;
    background-color: rgb(190, 229, 243);
}

p{
    color: rgb(3, 48, 38);
}

.about {
    
    background:rgb(2, 24, 92);
    padding: 8px;
    color: rgb(217, 232, 235);

}



img {
    height: 200px;
    width: 200px;
    padding: 8px;
}

.column {
    float: left;
    margin-right: 16px;
    margin: 10px;
    width: 23%;
}

.card{
    box-shadow: 0px 4px 8px #b3b3b3f5;
    padding: 0 16px 0 16px;
    background-color: rgb(126, 213, 241);
}