main {
    background-image: url("../images/background_image.jpg");
    height: 100vh;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
}


img {
    
    height: 350px;
    width: 350px;
    padding: 8px;
    margin: auto;
    border-radius: 200px;
    box-shadow: 0px 4px 8px #5276eef5;
}
