a{
    background-color: black;
    background-position: center;
    background-size: cover;
    border-radius: 50px;

}
a:hover{
    opacity: 100%;
    text-decoration-color: goldenrod;
    transform: scale(1.2);
    
}
